<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean name="myFortuneService" class="springHandsOnOne.HappyFortuneService"></bean>


<bean name="GolfCoach" class="springHandsOnOne.GolfCoach">
<constructor-arg name="myfortuneService" ref="myFortuneService"></constructor-arg>
</bean>
</beans>
